@{
    IEnumerable<string> strList = new List<string> { "p", "j", "d", "ñ" };
    IEnumerable<string> strList2 = new List<string> { "hola", "j", "d", "ñ" };
    @model IEnumerable<L02P02_2021CE650_2021ML601.Models.libros>

    <h1>Creación de Libros</h1>
    <br />
    <form>
        @*Inicio del Formulario*@

        <div class="form-group row mb-4">
            <div class="col-sm-2">
                <label>Nombre del libro</label>
            </div>
            <div class="col-sm-4">
                @Html.TextBox("nombre", "", new { @class = "form-control" })
            </div>
        </div>
        
        <div class="form-group row mb-4">
            <div class="col-sm-2">
                @Html.Label("lblDescripcion", "Descripción")
            </div>
            <div class="col-sm-4">
                @Html.TextArea("descripcion", "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group row mb-4">
            <div class="col-sm-2">
                <label>Precio</label>
            </div>
            <div class="col-sm-2">
                @Html.TextBox("precio", "", new { @class = "form-control" })
            </div>

            <div class="col-sm-2">
                <label>Autor</label>
            </div>
            <div class="col-sm-2">
                @Html.DropDownList("autor", new SelectList(strList, strList.FirstOrDefault()), "--Selecciona un autor ----", new { @class = "form-control" })
            </div>

            <div class="col-sm-2">
                <label>Categoría</label>
            </div>
            <div class="col-sm-2">
                @Html.DropDownList("categoria", new SelectList(strList2, strList2.FirstOrDefault()), "--Selecciona una categoría ----", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row mb-4">
            <div class="col-sm-2">
                <label for="fileInput">Seleccionar Archivo</label>
            </div>
            <div class="col-sm-10">
                <input type="file" id="fileInput" name="file">
            </div>
        </div>

        <h2>Lista de Libros</h2>

        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Imagen</th>
                <th>Autor</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Estado</th>
            </tr>
            @foreach (var libro in Model)
            {
                <tr>
                    <td>@libro.nombre</td>
                    <td>@libro.descripcion</td>
                    <td><img src="@libro.url_imagen" alt="Imagen de libro" width="100" height="150" /></td>
                    <td>@libro.id_autor</td>
                    <td>@libro.id_categoria</td>
                    <td>@libro.precio</td>
                    <td>@libro.estado</td>
                </tr>
            }
        </table>



        @*Fin del Formulario*@
    </form>
}